<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>
				{{ title }}
			</title>
		{% endblock %}
	</head>

	<body>
		{% include 'header.twig' %}
		<h1>
			{{ title }}
		</h1>
		

		<form action="/form" method="post" enctype="multipart/form-data">
			{# <input type="text" name="client"> #}
			{# <input type="text" name="industry"> #}
			{# <input type="text" name="title"> #}
			<input type="file" name="img[]">
			{# <input type="text" name="services_1">
			<input type="text" name="services_2">
			<input type="text" name="services_3">
			<input type="text" name="services_4">
			<input type="text" name="year">
			<input type="text" name="link">
			<input type="text" name="video">
			<input type="text" name="orientation">
			<input type="text" name="home_page">
			<input type="text" name="video_1">
			<input type="text" name="video_2">
			<input type="text" name="video_3">
			<input type="text" name="video_4">
			<input type="text" name="img_project">
			<input type="text" name="img_2_orientation">
			<input type="text" name="img_3_orientation">
			<input type="text" name="img_4_orientation">
			<input type="text" name="img_5_orientation">
			<input type="text" name="img_6_orientation">
			<input type="text" name="img_7_orientation">
			<input type="text" name="img_8_orientation">
			<input type="text" name="img_9_orientation">
			<input type="text" name="img_10_orientation">
			<input type="text" name="img_11_orientation"> #}
			<input type="submit" value="Добавить" name="add-project">
		</form>
	</body>

</html>
