<header>
	<nav>
		<ul>
			<li><a href="/projects">Проекты</a></li>
			<li><a href="/add-project">Добавить проект</a></li>
			<li><a href="/home-page">Главная страница</a></li>
			<li><a href="/about-page">Cтраница о компании</a></li>
		</ul>
	</nav>
</header>
